@import "font-awesome";
.stars-container {
    width: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    direction: ltr;
}
.stars-container>i {
    font-size: 30px;
}
